#main {
  width: 100%;
  height: auto;
}

#boardMain {
  margin: auto;
  width: 580px;
}

#boardMain .boardWrapper {
  width: 560px;
  height: 560px;
  float: left;
}

#boardMain .board {
  table-layout: fixed;
  border: none;
  border-collapse: collapse;
  border-spacing: 0px;
  height: 100%;
  width: 100%;
}

table.board tr td {
  border: 1px solid black;
}
table.board tr:nth-of-type(odd) td:nth-of-type(odd),
table.board tr:nth-of-type(even) td:nth-of-type(even) {
  background-color: white;
}
table.board tr:nth-of-type(even) td:nth-of-type(odd),
table.board tr:nth-of-type(odd) td:nth-of-type(even) {
  background-color: black;
}

#boardMain p {
  margin: 0;
  font-weight: bold;
}

#boardMain .leftside {
  width: calc(100% - 560px); /* #main - table.board */
  height: 560px; /* size of .board*/
  float: left;
}


#boardMain .leftside p {
  height: 12.5%;
  display: table;
}

#boardMain .leftside p span {
  display: table-cell;
  vertical-align: middle;
}

#boardMain .bottompart p {
  margin-top: 5px;
  width: 12.5%;
  float: left;
  text-align: center;
}

#boardMain .bottompart {
  clear: both;
  height: 20px;
  margin-left: auto;
  width: 560px;
}

.active {
  border: 3px solid #ff0000 !important;
}